body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;      
}

.navbar-brand img {
  max-height: 30px;
}

.header-link {
  position: absolute;
  left: -0.5em;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

.page-body {
  margin-top: 50px;
}

.page-content {
  margin-bottom: 40px;  
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 10px;
  background-color: white;
  text-align: center;
  font-size: 10px;
  font-weight: 100;
}